.btn {
  display: inline-block;
  position: relative;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding: 12px 32px;
  border: 2px solid transparent;
  text-transform: capitalize;
  white-space: nowrap;
  @include breakpoint(991) {
    padding: 11px 26px;
  }
  @include breakpoint(575) {
    font-size: 12px;
    padding: 10px 22px;
    line-height: 22px;
  }
  &:focus {
    box-shadow: none;
    outline: none;
  }
  &-white {
    color: #0f66dc;
    background-color: #0f66dc;
    border-color: white;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::after {
      position: absolute;
      content: "";
      left: auto;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: white;
      z-index: -1;
      transition: all 0.5s ease-in-out;
      width: 100%;
    }
    &:hover {
      color: white;
      &::after {
        width: 0;
      }
    }
  }
  &-f3f5fb {
    color: #0f66dc;
    background-color: #0f66dc;
    border-color: #f3f5fb;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::after {
      position: absolute;
      content: "";
      left: auto;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #f3f5fb;
      z-index: -1;
      transition: all 0.5s ease-in-out;
      width: 100%;
    }
    &:hover {
      color: #f3f5fb;
      &::after {
        width: 0;
      }
    }
  }
  &-4d41e2 {
    color: #4d41e2;
    background-color: #4d41e2;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::after {
      position: absolute;
      content: "";
      left: auto;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: white;
      z-index: -1;
      transition: all 0.5s ease-in-out;
      width: 100%;
    }
    &:hover {
      color: white;
      &::after {
        width: 0;
      }
    }
  }
  &-0f66dc {
    color: white;
    background-color: transparent;
    border-color: #0f66dc;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::after {
      position: absolute;
      content: "";
      left: auto;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #0f66dc;
      z-index: -1;
      transition: all 0.5s ease-in-out;
      width: 100%;
    }
    &:hover {
      color: #0f66dc;
      &::after {
        width: 0;
      }
    }
  }
  &-323754 {
    color: white;
    background-color: transparent;
    border-color: #323754;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::after {
      position: absolute;
      content: "";
      left: auto;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #323754;
      z-index: -1;
      transition: all 0.5s ease-in-out;
      width: 100%;
    }
    &:hover {
      color: #323754;
      &::after {
        width: 0;
      }
    }
  }
  &-e6f3fe {
    color: #0f66dc;
    background-color: #0f66dc;
    border-color: #e6f3fe;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::after {
      position: absolute;
      content: "";
      left: auto;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #e6f3fe;
      z-index: -1;
      transition: all 0.5s ease-in-out;
      width: 100%;
    }
    &:hover {
      color: white;
      &::after {
        width: 0;
      }
    }
  }
  &-5bd4f0 {
    color: white;
    background-color: #48bf84;
    border-color: #5bd4f0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::after {
      position: absolute;
      content: "";
      left: auto;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #5bd4f0;
      z-index: -1;
      transition: all 0.5s ease-in-out;
      width: 100%;
    }
    &:hover {
      color: white;
      border-color: #48bf84;
      &::after {
        width: 0;
      }
    }
  }
  &-48bf84 {
    color: white;
    background-color: #5bd4f0;
    border-color: #48bf84;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::after {
      position: absolute;
      content: "";
      left: auto;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #48bf84;
      z-index: -1;
      transition: all 0.5s ease-in-out;
      width: 100%;
    }
    &:hover {
      color: white;
      border-color: #5bd4f0;
      &::after {
        width: 0;
      }
    }
  }
  &-00dadc {
    color: white;
    background-color: #48bf84;
    border-color: #00dadc;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::after {
      position: absolute;
      content: "";
      left: auto;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #00dadc;
      z-index: -1;
      transition: all 0.5s ease-in-out;
      width: 100%;
    }
    &:hover {
      color: white;
      border-color: #48bf84;
      &::after {
        width: 0;
      }
    }
  }
  &-radius {
    border-radius: 160px;
  }
}
.divider {
  display: inline-block;
  height: 2px;
  width: 80px;
  background-color: #0f66dc;
  &-full {
    width: 100%;
    height: 1px;
    display: inline-block;
    background-color: #dadce0;
    margin-top: 90px;
    margin-bottom: 25px;
    @include breakpoint(991) {
      margin-top: 50px;
    }
  }
}
.border-transparent {
  border-color: transparent;
}