// Start About
.about
  .container
    .row
      .col-12.col-lg-6
        .about__content
          .about__content-subtitle Global IT Services and Solutions Leader
          .about__content-title Strategists and engineers focused on people, above all else
          .divider
          p.about__content-text Launched in 2010, we support over 120+ startups in 90k square feet of space in the Brooklyn Navy yard. We sit at the center of innovation of entrepreneurs, corporatins, cities, and investors.
          .about__content-button
            a.btn.btn-radius.btn-0f66dc(href='#') Get Started
      .col-12.col-lg-6
        .about__image
          .about__image-dots
            img(src="images/about/dots-1.png", alt="")
          .about__image-after
            img(src="images/about/about-2.png", alt="")
          .about__image-before
            img(src="images/about/about-1.png", alt="")
// End About