// Start Portfolio
.portfolio
  .container
    .row
      .col-12.col-lg-8.mx-auto
        .portfolio__content
          .portfolio__content-title Crafting effective digital marketing and communication design
          ul.portfolio__content-list.iso-nav
            li.list__item
              a.list__item-link.active(href='#' data-filter='*') All
            li.list__item
              a.list__item-link(href='#z' data-filter='.app') App
            li.list__item
              a.list__item-link(href='#z' data-filter='.branding') Branding
            li.list__item
              a.list__item-link(href='#z' data-filter='.design') Design
            li.list__item
              a.list__item-link(href='#z' data-filter='.illustration') Illustration
            li.list__item
              a.list__item-link(href='#z' data-filter='.web') Web
    .row.grid
      .grid-sizer.col-lg-4.col-md-6
      .grid-item.portfolio__box.col-lg-4.col-md-6.app.design.web
        .portfolio__box-image
          img(src="images/about/portfolio-1.png", alt="")
          .image__caption
            .image__caption-name Project Name
            i.fal.fa-long-arrow-right
      .grid-item.portfolio__box.col-lg-4.col-md-6.branding
        .portfolio__box-image
          img(src="images/about/portfolio-2.png", alt="")
          .image__caption
            .image__caption-name Project Name
            i.fal.fa-long-arrow-right
      .grid-item.portfolio__box.col-lg-4.col-md-6.web.design.illustration
        .portfolio__box-image
          img(src="images/about/portfolio-3.png", alt="")
          .image__caption
            .image__caption-name Project Name
            i.fal.fa-long-arrow-right
      .grid-item.portfolio__box.col-lg-4.col-md-6.branding
        .portfolio__box-image
          img(src="images/about/portfolio-4.png", alt="")
          .image__caption
            .image__caption-name Project Name
            i.fal.fa-long-arrow-right
      .grid-item.portfolio__box.col-lg-4.col-md-6.web.design.illustration
        .portfolio__box-image
          img(src="images/about/portfolio-5.png", alt="")
          .image__caption
            .image__caption-name Project Name
            i.fal.fa-long-arrow-right
      .grid-item.portfolio__box.col-lg-4.col-md-6.app.design.web
        .portfolio__box-image
          img(src="images/about/portfolio-6.png", alt="")
          .image__caption
            .image__caption-name Project Name
            i.fal.fa-long-arrow-right 
// End Portfolio