// Start Services
.services
  .container
    .row
      .col-12.col-lg-6
        .services__left
          .services__left-subtitle We're a Digital Product Agency
          .divider-full
          .services__left-title Our core values are an active part of everything we do
          .services__left-text We embrace a diversity of people and views. This makes us better and means better outcomes for our clients. We care deeply about helping you tackle your biggest challenges and turn your vision into reality.
      .col-12.col-lg-6
        .services__right
          .row
            .col-12.col-sm-6.col-md-6.col-lg-6.mb-5
              .services__right-subtitle Branding & Strategy
              .divider-full
              .services__right-title Service Design
              .services__right-text Designing a hotel lobby, a customer care center, or maybe even an airport, we're all ears.
            .col-12.col-sm-6.col-md-6.col-lg-6.mb-5
              .services__right-subtitle Website & Apps
              .divider-full
              .services__right-title UX/UI Design
              .services__right-text Designing a hotel lobby, a customer care center, or maybe even an airport, we're all ears.
          .row
            .col-12.col-sm-6.col-md-6.col-lg-6.mb-5.mb-sm-0
              .services__right-subtitle SEO, PPC & social media
              .divider-full
              .services__right-title Digital Marketing
              .services__right-text Designing a hotel lobby, a customer care center, or maybe even an airport, we're all ears.
            .col-12.col-sm-6.col-md-6.col-lg-6
              .services__right-subtitle Digitalisation & IT
              .divider-full
              .services__right-title IT Infrastructure
              .services__right-text Designing a hotel lobby, a customer care center, or maybe even an airport, we're all ears.
// End Services