// Start Slider
.slider
  .owl-slider.owl-carousel.owl-theme
    .slider__item(style="background-image: url('images/home/slider-1.jpg')")
      .container
        h4 RESIDENTAL
        h1 DRANA HOUSE, USA
        a.btn(href="services.html")
          span
            | Discover More 
            i.ti-arrow-right
    .slider__item(style="background-image: url('images/home/slider-2.jpg')")
      .container
        h4 ARCHITECTURE
        h1 ARCH STUDIO, CA
        a.btn(href="services.html")
          span
            | Discover More 
            i.ti-arrow-right
    .slider__item(style="background-image: url('images/home/slider-3.jpg')")
      .container
        h4 ENGINEER
        h1 ART MUSEUM, USA
        a.btn(href="services.html")
          span
            | Discover More 
            i.ti-arrow-right
// End Slider