// Start Header
.header 
  span 
  ul.header__list 
    li.header__list-item(data-target="about") Hồ Sơ
    li.header__list-item(data-target="portfolio") Sản Phẩm
    li.header__list-item(data-target="rating") Đánh Giá
    li.header__list-item(data-target="contact") Liên Hệ
    li.header__list-item#close 
      i.fal.fa-times
// End Header