// Start Header
.header
  .header__sidebar
    .header__sidebar-container
      .sidebar__menu
        .sidebar__menu-logo
          h1
            a(href="#") TOGO
              span ARCHITECTURE
        ul.sidebar__menu-list
          li.list__item
            a.list__item-link(href="index.html") Home
          li.list__item
            a.list__item-link(href="services.html") Services
          li.list__item
            a.list__item-link(href="about.html") About Us
          li.list__item
            a.list__item-link(href="portfolio.html") Portfolio
          li.list__item
            a.list__item-link(href="blog.html") Blog
          li.list__item
            a.list__item-link(href="contact.html") Contact
      .sidebar__social
        .sidebar__social-link
          a(href="#")
            i.fab.fa-facebook-f
          a(href="#")
            i.fab.fa-twitter
          a(href="#")
            i.fab.fa-instagram
        .sidebar__social-copyright
          p © TOGO 2020 | All rights reserved.
  .header__button
    span
      .line.line-half
      .line
      .line.line-half
  .header__overlay
  .header__logo
    h1
      a(href="#") TOGO
// End Header