// Start About
.about
  .container
    .row
      .col-12.col-lg-6
        .about__image
          img(src="images/home_communication/about-1.png", alt="")
      .col-12.col-lg-6
        .about__box.pl-lg-30.mb-50.mb-lg-0.mt-50.mt-lg-0
          .about__box-icon
            img(src="images/home_communication/about-icon-1.png", alt="")
          .about__box-title Know your customer feedback instantly
          .about__box-text Grow your customer feedback response rate by changing the questions dynamically with the help of our customer feedback platform.
          .about__box-item
            .item__icon
              img(src="images/home_communication/about-icon-3.png", alt="")
            .item__title Dynamic & Custom Questionnaire
            .item__text Create and customize questions to gather customer experience. Instant notifications to management by email.
          .about__box-item
            .item__icon
              img(src="images/home_communication/about-icon-4.png", alt="")
            .item__title Real-Time Notifications
            .item__text Create and customize questions to gather customer experience. Instant notifications to management by email.
      .divider-full
      .col-12.col-lg-6
        .about__box.pr-lg-30.mt-lg-100.mt-50
          .about__box-icon
            img(src="images/home_communication/about-icon-2.png", alt="")
          .about__box-title Simple communication workflows
          .about__box-text Grow your customer feedback response rate by changing the questions dynamically with the help of our customer feedback platform.
          .row
            .col-sm-6.col-12
              .about__box-tick
                .tick__icon
                  img(src="images/home_communication/about-icon-5.png", alt="")
                .tick__title Instant Customer Feedback
                .tick__icon
                  img(src="images/home_communication/about-icon-5.png", alt="")
                .tick__title Real-time Connection
            .col-sm-6.col-12
              .about__box-tick
                .tick__icon
                  img(src="images/home_communication/about-icon-5.png", alt="")
                .tick__title Create and Customize
                .tick__icon
                  img(src="images/home_communication/about-icon-5.png", alt="")
                .tick__title Analytics & Reports
            a.btn.btn-radius.btn-f3f5fb.border-transparent.mx-auto.mx-sm-0(href='#') Get Started
      .col-12.col-lg-6
        .about__image.mt-lg-100.mt-50
          img(src="images/home_communication/about-2.png", alt="")
// End About