// Start Banner
.banner
  .container
    .banner__image
      img(src="images/home_communication/banner.png", alt="")
    .banner__content
      .banner__content-subtitle Customer Feedback Instantly
      .banner__content-title Send better surveys. Collect better 
        span feedback.
      .banner__content-text San Francisco makes it super easy to invite your clients to leave useful comments directly on your live websites.
      .banner__content-button
        a.button__play(data-fancybox='video' href='https://www.youtube.com/watch?v=iTSpmnHMVS4&list=PLZLjCxQxwJSaVlw3jgmleo8PGfOd17QqN&index=207')
          span.button__play-icon
        .button__text How It Works
// End Banner