// Start Footer
.footer
  .container
    .row
      .col-lg-4
        .footer__logo
          a.footer__logo-link(href='#')
            img(src="images/home_consulting/logo.png", alt="")
            | San
            span Francisco
          p.footer__logo-text We are an industry-leading provider of IT and business technology services.
      .col-lg-6
        .footer__content
          .row
            .col-lg-4
              .footer__content-company
                ul.company__box
                  a.company__box-title Company
                  li.company__box-item
                    a.item__link(href='#') Services
                  li.company__box-item
                    a.item__link(href='#') About
                  li.company__box-item
                    a.item__link(href='#') Careers
                  li.company__box-item
                    a.item__link(href='#') Contact
            .col-lg-4
              .footer__content-company
                ul.company__box
                  a.company__box-title Products
                  li.company__box-item
                    a.item__link-new(href='#') Platform
                  li.company__box-item
                    a.item__link(href='#') IT App
                  li.company__box-item
                    a.item__link(href='#') Prototype
                  li.company__box-item
                    a.item__link(href='#') Payments
            .col-lg-4
              .footer__content-company
                ul.company__box
                  a.company__box-title Services
                  li.company__box-item
                    a.item__link(href='#') IT Resources
                  li.company__box-item
                    a.item__link(href='#') Pricing
                  li.company__box-item
                    a.item__link(href='#') Help Center
      .col-lg-2
        .footer__social
          .footer__social-title Social
          .footer__social-icon
            a.icon__link(href='#')
              i.fab.fa-twitter
            a.icon__link(href='#')
              i.fab.fa-facebook-square
            a.icon__link(href='#')
              i.fab.fa-instagram
            a.icon__link(href='#')
              i.fab.fa-google-drive
  .divider-full
  .container
    .row
      .col-12
        .footer__copyright
          | ©2020 San Francisco by Viworx-Co. All Rights Reserved.
          span Terms & Conditions
// End Footer