// Start Header
#header.header.fixed-top
  .container
    .header__menu
      .header__menu-logo
        a.header__menu-logo-link(href='#')
          img(src='images/layouts/logo-2.png')
          | San
          span Francisco
      .accordion-menu
        .header__menu-button
          .bar
          .bar
          .bar
        ul#Topnav.header__menu-list
          li.list__item
            a.list__item-link
              | Home
              i.fas.fa-angle-down
            ul.submenu
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Home Main
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Home Technology
                  i.fas.fa-angle-right
                ul.submenu
                  li.submenu__drop
                    a.submenu__drop-item(href='#')
                      span
                      | Classic
                  li.submenu__drop
                    a.submenu__drop-item(href='#')
                      span
                      | BG Image
                  li.submenu__drop
                    a.submenu__drop-item(href='#')
                      span
                      | Slider Revolution
              li.submenu__drop
                a.submenu__drop-item(href='home_communication.html')
                  span
                  | Home Communication
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Home IT Services
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Home Digital Agency
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Home App
              li.submenu__drop
                a.submenu__drop-item(href='index.html')
                  span
                  | Home Consulting
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Home Software
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Home Portfolio
          li.list__item
            a.list__item-link(href='about.html')
              | About
          li.list__item
            a.list__item-link
              | Services
              i.fas.fa-angle-down
            ul.submenu
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Services 1
                  i.fas.fa-angle-right
                ul.submenu
                  li.submenu__drop
                    a.submenu__drop-item(href='#')
                      span
                      | Services Items 1
                  li.submenu__drop
                    a.submenu__drop-item(href='#')
                      span
                      | Services Items 2
                      i.fas.fa-angle-right
                    ul.submenu
                      li.submenu__drop
                        a.submenu__drop-item(href='#')
                          span
                          | Services Items 1
                      li.submenu__drop
                        a.submenu__drop-item(href='#')
                          span
                          | Services Items 2
                      li.submenu__drop
                        a.submenu__drop-item(href='#')
                          span
                          | Services Items 3
                      li.submenu__drop
                        a.submenu__drop-item(href='#')
                          span
                          | Services Items 4
                      li.submenu__drop
                        a.submenu__drop-item(href='#')
                          span
                          | Services Items 5
                  li.submenu__drop
                    a.submenu__drop-item(href='#')
                      span
                      | Services Items 3
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Services 2
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Services 3
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Services 4
                  i.fas.fa-angle-right
                ul.submenu
                  li.submenu__drop
                    a.submenu__drop-item(href='#')
                      span
                      | Services Items 1
                  li.submenu__drop
                    a.submenu__drop-item(href='#')
                      span
                      | Services Items 2
                  li.submenu__drop
                    a.submenu__drop-item(href='#')
                      span
                      | Services Items 3
                  li.submenu__drop
                    a.submenu__drop-item(href='#')
                      span
                      | Services Items 4
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Services 5
          li.list__item
            a.list__item-link
              | Work
              i.fas.fa-angle-down
            ul.submenu
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Work 1
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Work 2
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Work 3
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Work 4
          li.list__item
            a.list__item-link
              | Pricing
              i.fas.fa-angle-down
            ul.submenu
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Pricing 1
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Pricing 2
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Pricing 3
          li.list__item
            a.list__item-link
              | Blog
              i.fas.fa-angle-down
            ul.submenu
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Blog Single Post
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Blog 2
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Blog Standard
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Blog 4
                  i.fas.fa-angle-right
                ul.submenu
                  li.submenu__drop
                    a.submenu__drop-item(href='#')
                      span
                      | Blog Items 1
                  li.submenu__drop
                    a.submenu__drop-item(href='#')
                      span
                      | Blog Items 2
                  li.submenu__drop
                    a.submenu__drop-item(href='#')
                      span
                      | Blog Items 3
                  li.submenu__drop
                    a.submenu__drop-item(href='#')
                      span
                      | Blog Items 4
                  li.submenu__drop
                    a.submenu__drop-item(href='#')
                      span
                      | Blog Items 5
                  li.submenu__drop
                    a.submenu__drop-item(href='#')
                      span
                      | Blog Items 6
                  li.submenu__drop
                    a.submenu__drop-item(href='#')
                      span
                      | Blog Items 7
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Blog 5
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Blog 6
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Blog 7
              li.submenu__drop
                a.submenu__drop-item(href='#')
                  span
                  | Blog 8
          li.list__item
            a.list__item-link(href='contact.html')
              | Contact
      ul.header__menu-icon
        li.icon__list
          a.shopping-cart
            i.far.fa-shopping-cart
          ul.icon__list-drop
            li.drop__item
              a.drop__item-remove(href="#")
                i.ti-close
              a.drop__item-text(href='#')
                img(src="images/home_consulting/consulting-1.png", alt="")
                | Project Name
              span 2 x $69.96
            li.drop__item
              a.drop__item-remove(href="#")
                i.ti-close
              a.drop__item-text(href='#')
                img(src="images/home_consulting/services-3.png", alt="")
                | Project Name
              span 1 x $96.69
            li.drop__item
              a.drop__item-remove(href="#")
                i.ti-close
              a.drop__item-text(href='#')
                img(src="images/home_consulting/services-1.png", alt="")
                | Project Name
              span 3 x $69.96
            li.drop__item
              .drop__item-total
                | Subtotal:
                span $446.49
              .drop__item-button
                a.btn-fill-dark.btn-radius.float-left(href='#')
                  | View More
                a.btn-fill-color.btn-radius.float-right(href='#')
                  | Checkout
        li.icon__list
          a.icon__search(data-modal='modals')
            i.far.fa-search
      .header__menu-btn
        a.btn.btn-radius.btn-323754(href='#') Contact Us
// End Header