// Start Portfolio
.portfolio
  .container
    .portfolio__background
      img(src="images/home_communication/portfolio-background.png", alt="")
    .row
      .col-12.col-lg-8.mx-auto
        .portfolio__title
          .portfolio__title-heading Create a seamless feedback process from design to the development build
          .divider
    .row
      .col-lg-6.col-12
        .portfolio__left
          .row
            .col-lg-6.col-md-6.col-12
              .portfolio__left-box
                .box__item
                  .box__item-image
                    img.mx-auto(src="images/home_communication/portfolio-logo-1.png", alt="")
                  .box__item-title Save Your Data
                  .box__item-text Make any changes to your website
              .portfolio__left-box
                .box__item
                  .box__item-image
                    img.mx-auto(src="images/home_communication/portfolio-logo-2.png", alt="")
                  .box__item-title Remote Teams
                  .box__item-text Make any changes to your website
            .col-lg-6.col-md-6.col-12
              .portfolio__left-box.mt-md-0
                .box__item
                  .box__item-image
                    img.mx-auto(src="images/home_communication/portfolio-logo-3.png", alt="")
                  .box__item-title Real Analytics
                  .box__item-text Make any changes to your website
              .portfolio__left-box
                .box__item
                  .box__item-image
                    img.mx-auto(src="images/home_communication/portfolio-logo-4.png", alt="")
                  .box__item-title Always up to date
                  .box__item-text Make any changes to your website
      .col-lg-6.col-12
        .portfolio__right.pl-lg-30
          .portfolio__right-box
            .box__icon
              img(src="images/home_communication/portfolio-icon-1.png", alt="")
            .box__title Connects seamlessly to your tools
            .box__text Make your conversations more actionable by exporting comments, screen size, browser type and screenshots to enrich each task.
            .box__item
              .box__item-icon
                img(src="images/home_communication/portfolio-icon-2.png", alt="")
              .box__item-title No Downloads, No Installations
              .box__item-text In addition to live websites, you can upload wireframes and mockups to get fast design feedback from your clients.
            .box__item
              .box__item-icon
                img(src="images/home_communication/portfolio-icon-3.png", alt="")
              .box__item-title No Downloads, No Installations
              .box__item-text In addition to live websites, you can upload wireframes and mockups to get fast design feedback from your clients.
          a.btn.btn-radius.btn-00dadc.mx-auto.mx-sm-0(href='#') Learn More
// End Portfolio