// Start Services
.services
  .container
    .row
      .col-12.col-lg-8.mx-auto
        .services__title
          .services__title-heading Get clear feedback to do your best work
          .divider
          .services__title-text Experience a real-time connection and find out what your customers think.
    .row
      .col-12.col-md-6.col-lg-4
        .services__box
          .services__box-item
            .item__image
              img.mx-auto(src="images/home_communication/services-1.png", alt="")
            .item__title Instant feedback
            .item__text In just 30 seconds, captures the core customer insights you need.
      .col-12.col-md-6.col-lg-4
        .services__box
          .services__box-item
            .item__image
              img.mx-auto(src="images/home_communication/services-2.png", alt="")
            .item__title Smart comments
            .item__text In just 30 seconds, captures the core customer insights you need.
      .col-12.col-md-6.col-lg-4
        .services__box
          .services__box-item
            .item__image
              img.mx-auto(src="images/home_communication/services-3.png", alt="")
            .item__title Efficient teamwork
            .item__text In just 30 seconds, captures the core customer insights you need.
      .col-12.col-md-6.col-lg-4
        .services__box
          .services__box-item
            .item__image
              img.mx-auto(src="images/home_communication/services-4.png", alt="")
            .item__title Custom reports
            .item__text In just 30 seconds, captures the core customer insights you need.
      .col-12.col-md-6.col-lg-4
        .services__box
          .services__box-item
            .item__image
              img.mx-auto(src="images/home_communication/services-5.png", alt="")
            .item__title Survey software
            .item__text In just 30 seconds, captures the core customer insights you need.
      .col-12.col-md-6.col-lg-4
        .services__box
          .services__box-item
            .item__image
              img.mx-auto(src="images/home_communication/services-5.png", alt="")
            .item__title Managing feedback
            .item__text In just 30 seconds, captures the core customer insights you need.
// End Services