// Start Testimonials
.testimonials
  .container
    .testimonials__background
      img(src="images/home_communication/testimonials.png", alt="")
    .testimonials__content
      .testimonials__content-title What people are saying about us and our awesome products
      .divider
    .owl-testimonials.owl-carousel.owl-theme
      .testimonials__box
        .testimonials__box-item
          img.mx-auto(src="images/home_consulting/testimonials-1.png", alt="")
          .item__title Incredible Support
          p.item__text "They are a professional, dedicated and customer focused IT services and support organization."
          .item__info
            | Eloise Smith
            br
            span Techno News
      .testimonials__box
        .testimonials__box-item
          img.mx-auto(src="images/home_consulting/testimonials-2.png", alt="")
          .item__title Beyond Amazing
          p.item__text "They are a professional, dedicated and customer focused IT services and support organization."
          .item__info
            | Thomas Smith
            br
            span IT Solutions
      .testimonials__box
        .testimonials__box-item
          img.mx-auto(src="images/home_consulting/testimonials-3.png", alt="")
          .item__title Excellent Service
          p.item__text "They are a professional, dedicated and customer focused IT services and support organization."
          .item__info
            | Stella Smith
            br
            span SF Technology
// End Testimonials