// Start Action
.action
  .container
    .row
      .col-xl-6
        .action__box
          .action__box-image.mx-auto
            img(src="images/contact/action-1.png", alt="")
            .image__content Digital Transformation with blockchain technology to automate IT management
            a.btn.btn-radius.btn-0f66dc(href='#') Get Started
      .col-xl-6
        .action__box
          img(src="images/contact/dots.png", alt="")
          .action__box-content.mx-auto
            .content__title Global Managed IT Services Delivered Locally
            p.content__text Designed to maintain and enhance your IT department
            a(href='#') Learn More
// End Action