// Start Banner
.banner
  .banner__image
    img(src="images/contact/banner.png", alt="")
  .banner__content
    .banner__content-title Ready To Start Your Project? Tell Us More
    p.banner__content-text
      span Home
      span >
      | Contact
// End Banner