// Start Form
.form
  .container
    .row
      .col-12.col-lg-6
        .form__content
          .form__content-title We’d love to hear from you. Drop us a line or visit us at our office in NYC
          .form__content-item
            input#name.item__name(type='text' placeholder='Name')
          .form__content-item
            input#email.item__email(type='email' placeholder='Email')
          .form__content-item
            textarea#comment.item__email(type='text' placeholder='Comment')
          .form__content-button
            a.btn.btn-radius.btn-48bf84(href='#') Submit
      .col-12.col-lg-6
        .form__image
          img(src="images/contact/form.png", alt="")
// End Form