// Start Info
.info
  .container
    .row
      .col-lg-4
        .info__box
          .info__box-subtitle Our Office
          .divider-full
          .info__box-title Address
          p.info__box-text 112 W 34th St.
          p.info__box-text New York, NY 10120, USA
      .col-lg-4
        .info__box
          .info__box-subtitle Contact Us
          .divider-full
          .info__box-title Email
          p.info__box-text info@SanFranciscoIT.com
          span sales@SanFranciscoIT.com
      .col-lg-4
        .info__box
          .info__box-subtitle Help Center
          .divider-full
          .info__box-title Phones
          p.info__box-text (+1) 212-946-2701
          p.info__box-text (+1) 212-946-2707
// End Info