// Start Intro
.intro
  .container
    .row
      .col-12.col-lg-8.mx-auto
        .intro__title
          .intro__title-heading We know each of our clients are unique
          .intro__title-text We find passion in unearthing our clients’ goals and motivations so that we can create holistic brand strategies that make an impact.
    .row
      .col-xl-8
        .intro__content
          .intro__content-title We innovate products for our clients and partners
          .divider
          p.intro__content-text At San Francisco you’ll find a team of passionate and forward-focused designers, digital marketing strategists, producers, editors, animators, developers, an account executives in our New Tork office.
          .intro__content-image
            .row
              .col-lg-6
                .image__item
                  img(src="images/contact/intro-1.png", alt="")
              .col-lg-6
                .image__item
                  img(src="images/contact/intro-2.png", alt="")
      .col-xl-4
        .intro__box
          .intro__box-item
            .item__title Digital Consulting
            .item__text We combine classic artistry with the latest technology.
            .item__line
          .intro__box-item
            .item__title Media & Analysis
            .item__text We combine classic artistry with the latest technology.
            .item__line
          .intro__box-item
            .item__title IT Services
            .item__text We combine classic artistry with the latest technology.
            .item__line
// End Intro