// Start Pricing
.pricing
  .container
    .row
      .col-12.col-lg-8.mx-auto
        .pricing__title
          .pricing__title-heading All paid plans come with a 100% free 14 day trial
          .divider
          .pricing__title-text Take your performance and security even further with San Francisco's paid add-on for Standard, Basic and Business plans.
      .col-12.mx-auto
        .pricing__button
          .pricing__button-item.active Annual Billing
          .pricing__button-item Monthly Billing
        .pricing__text Get 2 month free with our annual plans.
    .owl-pricing.owl-carousel.owl-theme
      .pricing__box
        .pricing__box-item
          .item__title Standard
          .item__text Ideal for startups
          .item__text
            span $
              span 50
            |  month
          .divider-full
          ul
            li
              | 1
              span  users
            li
              | Unlimited
              span  clients
            li
              | Unlimited
              span  comments
            li
              | API
              span  support
          a.btn.btn-radius.btn-4d41e2(href='#') Purchase
          a.btn.btn-radius.btn-white(href='#') Purchase
      .pricing__box
        .pricing__box-item
          .item__title Basic
          .item__text Most popular
          .item__text
            span $
              span 120
            |  month
          .divider-full
          ul
            li
              | 2
              span  users
            li
              | Unlimited
              span  clients
            li
              | Unlimited
              span  comments
            li
              | API
              span  support
          a.btn.btn-radius.btn-4d41e2(href='#') Purchase
          a.btn.btn-radius.btn-white(href='#') Purchase
      .pricing__box
        .pricing__box-item
          .item__title Business
          .item__text Ideal for professionals
          .item__text
            span $
              span 350
            |  month
          .divider-full
          ul
            li
              | 10
              span  users
            li
              | Unlimited
              span  clients
            li
              | Unlimited
              span  comments
            li
              | API
              span  support
          a.btn.btn-radius.btn-4d41e2(href='#') Purchase
          a.btn.btn-radius.btn-white(href='#') Purchase
    .pricing__text 
      | Want to learn more? Compare all
      span  plans
      |  and
      span  features.
// End Pricing