.boxes {
  position: relative;
  z-index: 123;
  transform: translateY(-70px);
  &__box {
    cursor: pointer;
    position: relative;
    padding: 0 0 25px;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
    background-color: white;
    transition: .5s;
    &-item {
      text-align: center;
      padding: 35px 25px 35px;
      img {
        width: auto;
        height: 50px;
      }
      .item__image-1 {
        display: block;
      }
      .item__image-2 {
        display: none;
      }
      .item__title {
        font-size: 22px;
        color: #0f66dc;
        margin: 35px 0 45px;
      }
      .item__text {
        margin-bottom: 35px;
      }
      span {
        font-size: 15px;
      }
    }
    &:hover {
      background-color: #0f66dc;
      transform: translateY(-20px);
      .boxes__box {
        &-item {
          position: relative;
          width: 100%;
          height: 100%;
          background: linear-gradient(to right, #357bdb, #1167dc);
          clip-path: circle(400px at 50% -45px);
          @include breakpoint(575) {
            clip-path: circle(380px at 50% -45px);
          }
          .item__image-1 {
            display: none;
          }
          .item__image-2 {
            display: block;
          }
          .item__title {
            color: white;
          }
          .item__text {
            color: white;
          }
          span {
            color: white;
          }
        }
      }
    }
  }
}
.boxes .owl-carousel .owl-item img {
  width: auto;
}
.boxes .owl-carousel .owl-stage-outer {
  overflow: unset;
}
