mixin clients
  .clients
    .container.px-xl-30
      .owl-clients.owl-carousel.owl-theme
        .clients__item
          img(src="images/layouts/clients-1.png", alt="clients")
        .clients__item
          img(src="images/layouts/clients-2.png", alt="clients")
        .clients__item
          img(src="images/layouts/clients-3.png", alt="clients")
        .clients__item
          img(src="images/layouts/clients-4.png", alt="clients")
        .clients__item
          img(src="images/layouts/clients-5.png", alt="clients")