mixin testimonials
  .testimonials
    .container.px-xl-30
      .row
        .col-sm-6.mx-auto
          .testimonials__wrapper
            span.testimonials__wrapper-icon
              img(src="images/layouts/quote.png", alt="quote")
            .owl-testimonials.owl-carousel.owl-theme
              .testimonials__item
                h6 Emma Brown
                span Claire Towers, CEO
                p ” Vivamus faucibus lorem non mi varius, vel euismod magna malesuada. Nam nec diam in nisl porttitor commodo in et ligula. “
              .testimonials__item
                h6 Jesica White
                span Drana Inc, Manager
                p ” Vivamus faucibus lorem non mi varius, vel euismod magna malesuada. Nam nec diam in nisl porttitor commodo in et ligula. “