doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        // Favicon
        link(rel='shortcut icon' href='images/layouts/favicon.ico')
        // Bootstrap Css
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
        // Font Awesome CSS
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
        // Fancy Box
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css')
        // Link Owl Carousel
        link(rel='stylesheet' href='css/owl.carousel.min.css')
        link(rel='stylesheet' href='css/owl.theme.default.min.css')
        // Themify Icons
        link(rel="stylesheet", href="css/themify-icons.css")
        // Google Font
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Rambla:wght@400;700&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap")
        // Wow JS
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        // Style Css
        link(rel='stylesheet' href='css/main.css')
        title TOGO
    body
        .wrapper
            include ./layouts/loader.pug
            include ./layouts/header.pug
            .wrapper-content
                include ./layouts/lines.pug
                block content
                include ./layouts/footer.pug
            include ./layouts/back-to-top.pug
        // Jquery
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js ')
        // Bootstrap JS
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
        // Owl Carousel
        script(src='js/owl.carousel.min.js')
        // Fancy Box
        script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js')
        // Wow JS
        script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
        // Isotope
        script(src='https://npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js')
        script(src='https://npmcdn.com/imagesloaded@4/imagesloaded.pkgd.js')
        // Main JS
        script(src="js/main.js")
