// Start Portfolio Details
.portfolioDetails
  .container.px-xl-30
    .row
      .col-12
        .portfolioDetails__item
          .portfolioDetails__item-image
            img(src="images/layouts/portfolio-details.jpg", alt="portfolio details")
          .portfolioDetails__item-content
            h5 Art Museum, USA
            .content__text
              p Nullam tristique consectetur ipsum, eget pretium mi placerat et. Integer id libero eget ipsum vehicula sodales ac quis tellus. Donec sem sem, mattis sed orci at, eleifend tincidunt tortor. Aenean aliquet nulla eget eros sagittis porttitor. Nunc lacinia maximus purus, sit amet tempor purus vulputate non. Integer nec odio non velit tempor vestibulum.
              p.spical Aliquam rhoncus, tortor nec maximus pharetra, elit magna ornare mauris, ut porta lorem ligula at orci. Proin semper sem eget lorem scelerisque rutrum sed luctus quam. Duis viverra sem aliquet sollicitudin bibendum. Duis blandit, mauris eu dapibus congue, erat augue faucibus sem, ut tempor.
              p Drana tristique consectetur ipsum, eget pretium mi placerat et. Integer id libero eget ipsum vehicula sodales ac quis tellus. Donec sem sem, mattis sed orci at, eleifend tincidunt tortor. Aenean aliquet nulla eget eros sagittis porttitor. Nunc lacinia maximus purus, sit amet tempor purus vulputate non. Integer nec odio non velit tempor vestibulum. Quality Drana tristique consectetur ipsum, eget pretium mi placerat et. Integer id libero eget ipsum vehicula sodales ac quis tellus. Donec sem sem, mattis sed orci at, eleifend tincidunt tortor. Aenean aliquet nulla eget eros sagittis porttitor.
            .row
              .col-sm-6
                .content__image
                  a(href="images/layouts/item-1.jpg" data-fancybox="gallery")
                    .image-item
                      img(src="images/layouts/item-1.jpg", alt="item")
              .col-sm-6
                .content__image
                  a(href="images/layouts/item-2.jpg" data-fancybox="gallery")
                    .image-item
                      img(src="images/layouts/item-2.jpg", alt="item")
// End Portfolio Details