// Start About
.about
  .container
    .row
      .col-12.col-lg-6
        .about__content
          .about__content-title Redefine what's possible, give shape to the future — and get there
          p.about__content-text We work closely with our customers to ensure that their business needs are met. With successful roll-out of the project, we analyze frequent problems and suggest
          .about__content-button
            a.btn.btn-radius.btn-0f66dc(href='#') Get Started
            a.btn.btn-radius.btn-e6f3fe(href='#') Learn More
      .col-12.col-lg-6
        .about__image
          .about__image-after
            img(src="images/home_consulting/about-2.png", alt="")
          .about__image-before
            img(src="images/home_consulting/about-1.png", alt="")
// End About