// Start Banner
.banner
  .owl-banner.owl-carousel.owl-theme
    .banner__item
      .banner__item-image
        img(src="images/home_consulting/banner-1.png", alt="")
      .banner__item-content
        p.content__text Online Strategy and Consulting Services
        .content__heading Analyze, architect, and co-create.
        p.content__text We're advisors, strategists, and engineers focused on people, above all else.
        a.btn.btn-radius.btn-e6f3fe(href='#')
          i.fas.fa-play
          | How we do
    .banner__item
      .banner__item-image
        img(src="images/home_consulting/banner-2.png", alt="")
      .banner__item-content
        p.content__text Online Strategy and Consulting Services
        .content__heading Analyze, architect, and co-create.
        p.content__text We're advisors, strategists, and engineers focused on people, above all else.
        a.btn.btn-radius.btn-e6f3fe(href='#')
          i.fas.fa-play
          | How we do
    .banner__item
      .banner__item-image
        img(src="images/home_consulting/banner-3.png", alt="")
      .banner__item-content
        p.content__text Online Strategy and Consulting Services
        .content__heading Analyze, architect, and co-create.
        p.content__text We're advisors, strategists, and engineers focused on people, above all else.
        a.btn.btn-radius.btn-e6f3fe(href='#')
          i.fas.fa-play
          | How we do
// End Banner