// Start Boxes
.boxes
  .container
    .owl-boxes.owl-carousel.owl-theme
      .boxes__box
        .boxes__box-item
          img.item__image-1.mx-auto(src="images/home_consulting/boxes-1.png", alt="")
          img.item__image-2.mx-auto(src="images/home_consulting/boxes-1-w.png", alt="")
          .item__title Strategy
          p.item__text Learn from your data, create incredible digital experiences, or make the most of new tech.
          span Learn More
      .boxes__box
        .boxes__box-item
          img.item__image-1.mx-auto(src="images/home_consulting/boxes-2.png", alt="")
          img.item__image-2.mx-auto(src="images/home_consulting/boxes-2-w.png", alt="")
          .item__title Technology
          p.item__text Learn from your data, create incredible digital experiences, or make the most of new tech.
          span Learn More
      .boxes__box
        .boxes__box-item
          img.item__image-1.mx-auto(src="images/home_consulting/boxes-3.png", alt="")
          img.item__image-2.mx-auto(src="images/home_consulting/boxes-3-w.png", alt="")
          .item__title Consulting
          p.item__text Learn from your data, create incredible digital experiences, or make the most of new tech.
          span Learn More
// End Boxes