// Start Consulting
.consulting
  .consulting__background
    img(src="images/home_consulting/consulting-banner.png", alt="")
  .container
    .owl-consulting.owl-carousel.owl-theme
      .consulting__box.px-2.py-3.box-shadow-none.bg-transparent
        .consulting__box-item.p-0
          .item__title Consulting firm focused on technology
          p.item__text.text-white We help companies tackle their most ambitious projects and build new capabilities.
          a.btn.btn-radius.btn-white(href='#') Get Started
      .consulting__box
        .consulting__box-item
          img(src="images/home_consulting/consulting-1.png", alt="")
          .item__heading Cloud Architecture
          p.item__text Redefine what is possible, give shape to the future — and get there. Go beyond the expected.
      .consulting__box
        .consulting__box-item
          img(src="images/home_consulting/consulting-2.png", alt="")
          .item__heading Data Visualization
          p.item__text Redefine what is possible, give shape to the future — and get there. Go beyond the expected.
// End Consulting