// Start Contact
.contact
  .container
    .contact__box
      .row
        .col-lg-7
          .contact__box-title
            .title__heading Stay up to date with the latest news!
            p.title__text *We won't spam you, we promise!
              img(src="images/home_consulting/contact.png", alt="")
        .col-lg-5
          .contact__box-mail
            input#email.mail__title(type='email' placeholder='Enter Your Email')
            a.btn.btn-radius.btn-5bd4f0(href='#') Subscribe
// End Contact