// Start Counter
.counter
  .container
    .row
      .col-12.col-lg-8.mx-auto
        .counter__title
          .counter__title-heading We’re a modern consulting firm focused on strategy, technology, and business transformation.
    .row
      .col-12.col-md-6.col-lg-4
        .counter__content
          span.perccent-item-num.counters(data-target='20') 0
          span +
          .counter__content-heading Years of Experience
          p.counter__content-text We help companies tackle their most ambitious projects and build new capabilities.
      .col-12.col-md-6.col-lg-4
        .counter__content
          span.perccent-item-num.counters(data-target='120') 0
          .counter__content-heading Projects Developed
          p.counter__content-text We help companies tackle their most ambitious projects and build new capabilities.
      .col-12.col-md-6.col-lg-4
        .counter__content
          span.perccent-item-num.counters(data-target='70') 0
          span +
          .counter__content-heading Platforms & Apps
          p.counter__content-text We help companies tackle their most ambitious projects and build new capabilities.
// End Counter