// Start Logos
.logos
  .container
    hr.divider-full
    .owl-logos.owl-carousel.owl-theme
      .logos__box
        img.mx-auto(src="images/home_consulting/logos-1.png", alt="")
      .logos__box
        img.mx-auto(src="images/home_consulting/logos-2.png", alt="")
      .logos__box
        img.mx-auto(src="images/home_consulting/logos-3.png", alt="")
      .logos__box
        img.mx-auto(src="images/home_consulting/logos-4.png", alt="")
// End Logos