// Start Portfolio
.portfolio
  .container
    .row
      .col-12.col-lg-8.mx-auto
        .portfolio__title
          .portfolio__title-heading Check out our latest projects & clients
          p.portfolio__title-text San Francisco is a market leader in the IT managed services industry. Visit our featured clients and projects.
  .container-fluid
    .row
      .col-sm-6.col-lg-3.order-sm-2.order-lg-1
        .portfolio__content
          .portfolio__content-image
            img(src="images/home_consulting/portfolio-1.png", alt="")
      .col-sm-12.col-lg-6.order-sm-1.order-lg-2
        .portfolio__content
          .portfolio__content-image
            img(src="images/home_consulting/portfolio-2.png", alt="")
      .col-sm-6.col-lg-3.order-sm-3
        .portfolio__content
          .portfolio__content-image
            img(src="images/home_consulting/portfolio-3.png", alt="")
    .portfolio__button.text-center
      a.btn.btn-radius.btn-e6f3fe.border-transparent(href='#') View All
// End Portfolio