// Start Services
.services
  .container
    .row
      .col-12.col-lg-8.mx-auto
        .services__title
          .services__title-heading Not sure where to start? We’ll work with you to design and implement the right solution
          .services__title-text Whether you already have an implementation in mind or are just getting started, our technology experts focus on your business goals.
  .owl-services.owl-carousel.owl-theme
      .services__box
        .services__box-item
          img.mx-auto(src="images/home_consulting/services-1.png", alt="")
          .item__title WordPress
          p.item__text We partner with over 300 of the world’s leading technology solution providers.
        .services__box-button
          a.button__icon(href='#')
            i.fal.fa-long-arrow-right
      .services__box
        .services__box-item
          img.mx-auto(src="images/home_consulting/services-2.png", alt="")
          .item__title Bootstrap
          p.item__text We partner with over 300 of the world’s leading technology solution providers.
        .services__box-button
          a.button__icon(href='#')
            i.fal.fa-long-arrow-right
      .services__box
        .services__box-item
          img.mx-auto(src="images/home_consulting/services-3.png", alt="")
          .item__title Analytics
          p.item__text We partner with over 300 of the world’s leading technology solution providers.
        .services__box-button
          a.button__icon(href='#')
            i.fal.fa-long-arrow-right
      .services__box
        .services__box-item
          img.mx-auto(src="images/home_consulting/services-4.png", alt="")
          .item__title JavaScript
          p.item__text We partner with over 300 of the world’s leading technology solution providers.
        .services__box-button
          a.button__icon(href='#')
            i.fal.fa-long-arrow-right
// End Services




