// Start Video
.video
  .container-fluid
    .row
      .col-lg-6
        .video__box
          .video__box-screen
            img(src="images/home_consulting/video.png", alt="")
            .screen__button
              a.screen__button-play(data-fancybox='video' href='https://www.youtube.com/watch?v=iTSpmnHMVS4&list=PLZLjCxQxwJSaVlw3jgmleo8PGfOd17QqN&index=207')
                span.play__icon
      .col-lg-6
        .video__box
          .video__box-content
            .content__title(href='#') New technologies. Shifting customers. Industry disruption.
            p.content__text Learn from your data, create incredible digital experiences, or make the most of new tech. We blend design, engineering, and analytics expertise to help you build the future.
            a(href='#')
             | Get a Quote
             i.fas.fa-angle-right
// End Video