extends master.pug

block css
   link(rel='stylesheet' href='css/home_communication.css')

block content
   include ./components/Home_Communication/header.pug
   include ./components/Home_Communication/banner.pug
   include ./components/Home_Communication/services.pug
   include ./components/Home_Communication/about.pug
   include ./components/Home_Communication/pricing.pug
   include ./components/Home_Communication/portfolio.pug
   include ./components/Home_Communication/testimonials.pug
   include ./components/Home_Communication/contact.pug
   include ./components/Home_Communication/footer.pug