extends master.pug

block css
   link(rel='stylesheet' href='css/main.css')

block content
   include ./layouts/header.pug
   include ./components/Home/banner.pug
   include ./components/Home/boxes.pug
   include ./components/Home/counter.pug
   include ./components/Home/about.pug
   include ./components/Home/logos.pug
   include ./components/Home/video.pug
   include ./components/Home/services.pug
   include ./components/Home/portfolio.pug
   include ./components/Home/consulting.pug
   include ./components/Home/testimonials.pug
   include ./components/Home/contact.pug
   include ./layouts/footer.pug
